*{
    background-color: black;
}
.third{
    border: 0;
    top: 0;
    left: 0;
    
}
#four{
    color: white;
}
.box1{
    color: white;
}
.box2{
    color: white;
}
.box3{
    color: white;
}
.box4{
    color: white;
}
